$primary-color: #CE5922;
$secondary-color: #2298ce;
$third-color: #84d1ec;
$image-thumbnail-width: 150px;
$carousel-item-height: 250px;


.navbar-dark {
  background-color: $primary-color;
  position: relative;
}

/* Jumbotron settings */
.jumbotron {
  margin-bottom: 0px;
  padding: 1rem;

  h1 {
    color: $secondary-color;
  }
  p {
    color: $primary-color;
  }
}

img.img-thumbnail {
  width: $image-thumbnail-width;
}

/* Home page carousel settings */
div#homePageCarousel {
  background-color: $secondary-color;

  .carousel-item {
    height: $carousel-item-height;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: $carousel-item-height;
  }

  #carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

/* Footer settings */
#websiteFooter {
  background-color: $third-color;

}

/* Login window settings */
#loginModal {
  .modal-header {
    background-color: $secondary-color;
    color: white;
  }
}

h1 {
  margin-bottom: 2rem;
}